body
{
    margin: 0 auto;
    background-color: rgb(234, 231, 177);

}

#navbar
{
    font-size: 1.5rem;
    font-weight: 100;
}

#navbar .nav-link
{
    color: white;
}

#navbar .nav-link:hover
{
    color:rgb(166, 187, 141);
}

#navbar .navbar-brand
{
    color:rgb(166, 187, 141);
    font-size: 1.5rem;
}

